node_modules
uploads
package-lock.json
.vscode
.env
.idea
.nyc_output
coverage
npm-debug.log
newrelic_agent.log
build
.env.txt
.env_local
honeycomb-production-key.json
honeycomb-staging-key.json
.DS_Store
yarn.lock
.env-staging
.env-production
.env-local-database-with-prod-env
dump.rdb
.env-local
firebase
id-rsa-staging.pem
pnpm-lock.yaml
